node_modules/
dist/
build/
.env
.env.local
*.log
.DS_Store
server/prisma/*.db
server/prisma/*.db-journal
server/data/*.sql
server/data/*.db
server/data/*.db-shm
server/data/*.db-wal
server/uploads/
server/reservations/
client/.vite/